.noselect {
    width: 150px;
    height: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: red;
   }
   
   .noselect, .noselect span {
    transition: 200ms;
   }
   
   .noselect .text {
    transform: translateX(5px);
    
    color: white;
    font-weight: bold;
   }
   
   .noselect .icon {
    position: absolute;
    border-left: 1px solid #dfb7b7;
    transform: translateX(110px);
    height: 30px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
   .noselect svg {
    width: 15px;
    fill: #eee;
   }
   
   .noselect:hover {
    background: #ff3636;
   }
   
   .noselect:hover .text {
    color: transparent;
   }
   
   .noselect:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .noselect:focus {
    outline: none;
   }
   
   .noselect:active .icon svg {
    transform: scale(0.8);
   }    

   .button {
    display: flex;
  }
  
  .box {
    width: 35px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    transition: all .8s;
    cursor: pointer;
    position: relative;
    background: rgb(0, 0, 0);
    overflow: hidden;
  }
  
  .box:before {
    content: "C";
    position: absolute;
    top: 0;
    background: #136cda;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
    transition: transform .4s;
  }
  
  .box:nth-child(2)::before {
    transform: translateY(-100%);
    content: 'O';
  }
  
  .box:nth-child(3)::before {
    content: 'M';
  }
  
  .box:nth-child(4)::before {
    transform: translateY(-100%);
    content: 'M';
  }
  
  .box:nth-child(5)::before {
    content: 'E';
  }
  .box:nth-child(6)::before {
    content: 'N';
  }
  .box:nth-child(7)::before {
    content: 'T';
  }
  
  .saveButton{
    display: flex   ;
  }
  
  .saveButton:hover .box:before {
    transform: translateY(0);
  }